<h1><%= @property.name %></h1>
<p><%= @property.address1 %></p>
<p><%= @property.address2 %></p>
<p><%= @property.address3 %></p>
<p><%= @property.country %></p>
<p><%= @property.city %></p>
<p><%= @property.state %></p>
<p><%= @property.zip %></p>
<p><%= @property.taxes %></p>
<p><%= @property.rent %></p>
<p><%= @property.notes %></p>
